body{width:100%;overflow:hidden;}

/*page-title*/
.page-title{}
.page-title h2{/*font-size:40px;*/font-family:"FZLTHK";font-size:0.74rem;text-align:center;color:#333333;
/*height:50px;line-height:50px;padding-top:94px;*/line-height:0.9259rem;padding-top:1.74rem;box-sizing:content-box;
}
.page-title .line{/*width:72px;height:5px;margin:32px auto 40px;*/
    width:1.333rem;height:0.0925rem;margin:0.592rem auto 0.74rem;
    background:-webkit-linear-gradient(left,#60edea,#7273fd);
    background:-o-linear-gradient(left,#60edea,#7273fd);
    background:-moz-linear-gradient(left,#60edea,#7273fd);
    background:linear-gradient(left,#60edea,#7273fd);
}
.page-title h3{font-family:"FZLTHK";color:#5e5e5e;/*font-size:30px;height:48px;line-height:48px;*/
    font-size:0.555rem;/*height:0.888rem;*/line-height:0.888rem;
}
.page-title p{font-family:"FZLTHK";color:#787878;/*font-size:21px;line-height:34px;padding-top:15px;*/
    font-size:0.3888rem;line-height:0.629rem;padding-top:0.2777rem;
}
.page-title img{/*padding-top:41px;*/padding-top:0.759259rem;}
/*.container-fluid{padding:0 60px;}*/

/*banner*/
.banner{width:92.7% !important;margin:1.666rem auto 0;}
.banner img{width:100%;height:100%;}

/*section0*/
.section0{width:100%;}
.section0 .content{width:74.51%;/*width:25.4259rem;*//*height:12rem;*/margin:0 auto 1.666rem;/*background:url("../images/about-section0-bg_03.jpg") no-repeat center;background-size:cover;*/}
.section0 .content img{width:100%;height:100%;}

/*section1*/
.section1{width:100%;height:14.2037rem;background:url("../images/about-section1-bg.png") no-repeat center;background-size:cover;}
.section1 .content{text-align:center;}
.section1 .content ul{/*margin:29px auto 0;*/display:inline-block;margin:0.537rem auto 0;}
.section1 .content .li{/*width:218px;margin-right:78px;*/width:4.037rem;margin-right:1.444rem;float:left;border-bottom:0.037rem solid #626262;position:relative;
    padding:0;box-sizing:content-box;
}
.section1 .content .li:last-child{margin-right:0;}
.section1 .content .li:after{content:"";width:0;height:0;/*border:10px solid transparent;border-bottom:10px solid #626262;*/
    border:0.185rem solid transparent;border-bottom:0.185rem solid #626262;position:absolute;bottom:0;left:50%;margin-left:-0.0925rem;
}
.section1 .content .li .num{/*height:40px;line-height:40px;padding-top:29px;font-size:22px;font-size:22px;border-bottom:2px solid #626262;*/box-sizing:content-box;
    height:0.74rem;line-height:0.74rem;padding-top:0.537rem;font-size:0.407rem;border-bottom:0.037rem solid #626262;}
.section1 .content .li img{/*padding-top:57px;width:122px;height:127px;*/padding-top:1.05rem;width:2.26rem;height:2.3585rem;}
.section1 .content .li h3{/*padding-top:57px;*/font-size:0.407rem;height:0.74rem;line-height:0.74rem;padding-top:0.444rem;box-sizing:content-box;color:#626262;}
.section1 .content .li p{/*padding:26px 0 45px 0;font-size:16px;line-height:25px;*/color:#888;font-size:0.296rem;line-height:0.46296rem;padding:0.48148rem 0 0.833rem 0;}
/*section2*/
.section2{}
.section2 .page-title h2{text-align:left;}
.section2 .page-title .line{margin-left:0;}
.section2 .row{width:92.7083%;margin:0 auto;}
.section2 .pic{padding:0 0 0 0.8333rem;/*width:900px;height:615px;*//*width:16.666rem;*//*height:11.388rem;*/}
.section2 .pic img{width:100%;height:100%;}
.section2 .text{padding-left:1.85185rem;overflow:hidden;}
/*.section2 .pic:nth-child(2n){padding-left:0;}
.section2 .text:nth-child(2n){padding-left:0;}*/
.section2 .row1 .text,.section2 .row2 .text,.section2 .row3 .text{/*height:615px;*/}


.section2 .text p{/*width:633px;*//*width:11.7222rem;*/width:81.333%;}
.section2 .row2 .pic,.section2 .row4 .pic{padding-left:0;}
/*.section2 .row2 .text,.section2 .row4 .text{padding-left:0;}*/
.section2 .text img{}












/*media*/
@media screen and (max-width:1920px){

}
@media screen and (max-width:1600px){
    .section2 .page-title h2{padding-top:1rem;}
    .section2 .text img{padding-top:0;}
}
@media screen and (max-width:1440px){
    .section2 .page-title h2{padding-top:0.6rem;}
}
@media screen and (max-width:1366px){
    .section1 .content .li{width:3.037rem;margin-right:0.444rem;}

    .section2 .text{padding-left:1rem;}
    .section2 .page-title h2{padding-top:0.6rem;}
    .section2 .page-title .line{/*margin-top:;margin-bottom:;*//*margin:0.292rem 0 0 0;*/margin-top:0.292rem;margin-bottom:0.292rem;}
    .section2 .page-title p{padding-top:0.0777rem;width:91.333%;}
}
@media screen and (max-width:1200px){
    .section0 .content{width:90%;}
    /*.section1 .content .li{width:3.037rem;margin-right:0.444rem;}*/
}
@media screen and (max-width:1024px){
    .section1 .content .li{width:3rem;margin-right:0.444rem;}
}
@media screen and (max-width:992px){
    /*.section1 .content .li{width:2.9rem;margin-right:0.444rem;}*/
    .section2 .pic{padding:0;width:100%;}
    .section2 .text{padding-left:0.85185rem;}
    .section2 .text img{padding-top:0;width:100%;}
}
@media screen and (max-width:640px){
    .section2 .text{padding-left:0;}
}
@media screen and (max-width:480px){

}