body{position:relative;overflow-x:hidden;}

.section{/*width:1780px;*/width:92.7083%;margin:0 auto;}

/*title*/
.title{text-align:center;width:93%;margin:0 auto;}
.title h2{width:100%;/*height:42px;line-height:42px;font-size:32px;margin-top:38px;*/height:0.777rem;line-height:0.777rem;font-size:0.5925rem;margin-top:0.7037rem;
font-family:"FZY3JW";}
.title .line1{/*width:81px;height:1px;background:#d4d4d4;margin:22px auto 0;*/width:1.5rem;height:0.018rem;background:#d4d4d4;margin:0.4074rem auto 0;}
.title .line2{/*width:51px;height:1px;background:#d4d4d4;margin:2px auto 0;*/width:0.944rem;height:0.018rem;background:#d4d4d4;margin:0.037rem auto 0;}
.title p{/*padding-top:19px;font-size:14px;line-height:22px;color:#7e7a7d;*/padding-top:0.3518rem;font-size:0.2592rem;line-height:0.4074rem;color:#7e7a7d;}

/*header*/
.header{display:block;}

/*banner*/
.slider{/*height:14.555rem !important;*//*width:93.75% !important;*/width:92.7083% !important;margin:1.666rem auto 0;overflow:hidden;}
.banner{/*width:100%;*//*margin-top:90px;*//*height:786px;*//*height:14.555rem !important;*/width:92.7083% !important;margin:1.666rem auto 0;padding:0;}
.banner .slider-main{width:100%;position:relative;}
.banner .slider-main a{/*width:100%;position:relative;*/display:block;width:100%;height:100%;}
.banner .slider-main li{width:100%;position:absolute;top:0;left:0;}
.banner .slider-main li:nth-child(1){z-index:20;}
.banner .slider-main li>img{width:100%;height:100%;}

.osSlider-main .slider-btn{/*position:relative;z-index:30;*/}
.osSlider-main .slider-btn-prev{/*position:absolute;z-index:30;top:50%;left:-45px;width:40px;height:40px;text-indent:-9999px;margin-top: -20px;background: url(./img/prev.png) 50% 50% no-repeat;transition: all .5s linear;*/
    width:1.2962rem;height:1rem;line-height:1rem;z-index:20;position:absolute;top:50%;left:0.1296rem;background:url("../images/banner-bg2.png") no-repeat center;background-size:cover;}
.osSlider-main .slider-btn-prev:before{/*width:113px;*//*width:6.28%;*//*font-size:50px;*/
    content:'←';height:100%;color:#fff;text-align:center;width:2.0825rem;font-size:0.9259rem;position:absolute;top:0;left:0;z-index:20;transition:all 0.3s linear;}
.osSlider-main .slider-btn-prev:hover:before{transform:translateX(-0.3703rem);}
.osSlider-main .slider-btn-next{/*position: absolute;z-index: 30;top: 50%;right: -45px;width: 40px;height: 40px;text-indent: -9999px;margin-top: -20px;background: url(./img/next.png) 50% 50% no-repeat;transition: all .5s linear;right:7px;*/
    width:1.2962rem;height:1rem;line-height:1rem;z-index:20;position:absolute;top:50%;right:0.1296rem;background:url("../images/banner-bg.png") no-repeat center;background-size:cover;}
.osSlider-main .slider-btn-next:before{/*width:113px;width:6.28%;font-size:50px;*/
    content:'→';height:100%;color:#fff;text-align:center;width:2.0825rem;font-size:0.9259rem;position:absolute;top:0;right:0;z-index:20;transition:all 0.3s linear;}
.osSlider-main .slider-btn-next:hover:before{transform:translateX(0.3703rem);}
/* 高亮导航部分 */
/*.osSlider-main .slider-nav{position:absolute;width:100%;height:22px;bottom:20px;text-align:center;z-index:25;}
.osSlider-main .slider-nav li{display:inline-block;height:20px;line-height:20px;padding:0 6px;margin:0 12px;font-size:12px;color: #eee;border: 1px solid #eee;background:none;cursor:pointer;}
.osSlider-main .slider-nav li.active{color:#333;background:#eee;}
.osSlider-main .slider-nav li:hover{border: 1px solid #f60;background: #f60;}*/

/*案例*/
.anli{width:100%;}
.anli .content{width:92.7083%;margin:0.68518rem auto 0;/*text-align:center;*/}
.anli .content .content_ul{/*width:100%;*//*display:inline-block;*/}
.anli .content .li{/*width:438px;height:274px;margin:0 10px 10px 0;*/width:24.5%;height:5.074rem;margin:0 0.185rem 0.185rem 0;float:left;overflow:hidden;position:relative;}
.anli .content .li_4,.anli .content .li_8{margin-right:0;}
.anli .content .li a{display:block;width:100%;height:100%;}
.anli .content .li img{width:100%;height:100%;}
.anli .content .li .info{width:100%;height:100%;text-align:left;position:absolute;top:0;left:0;background:rgba(255,255,255,0.5);opacity:0;transition:all 0.3s linear;}
.anli .content .li .info h5{font-size:24px;color:#323232;/*padding:30px 0 0 42px;*/padding:0.555rem 0 0 0.7777rem;transition:all 0.3s linear;}
.anli .content .li:hover .info{opacity:1;}
.anli .content .li:hover .info h5{transform:translateY(0.37rem);}

/*宣传视频*/
.shipin{/*margin-top:46px;*/margin-top:0.8518rem;}
.shipin .shipin_wrap{width:100%;}
.shipin .shipin_wrap .media{/*width:671px;height:382px;margin-left:204px;margin-left:3.777rem;*//*width:12.4259rem;*/width:37.64%;height:7.074rem;margin-left:11.4606%;float:left;position:relative;}
.shipin .shipin_wrap .media .bg{/*height:342px;height:28.5rem;*/width:93.75%;height:6.43rem;background:url("../images/index_shipin_bg.png") no-repeat;background-size:cover;}
.shipin .shipin_wrap .media .video{width:93.75%;/*height:342px;*/height:6.43rem;position:absolute;/*top:40px;*/top:0.74rem;right:0;}

.shipin .shipin_wrap .media .video #video{width:100%;height:100%;}
.shipin .shipin_wrap .media .video .player{/*width:148px;height:48px;*//*width:140px;height:40px;border:2px solid #d4d3d2;font-size:14px;*//*width:2.7407rem;height:0.888rem;*//*text-align:center;*//*border:0.074rem solid #d4d3d2;*/
    width:2.592rem;height:0.7407rem;line-height:0.7407rem;
    position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;color:#7e7a7d;font-size:0.259rem;background:#fff;cursor:pointer;/*animation:player 1s linear infinite;*/transition:all 0.3s linear;}
.shipin .shipin_wrap .media .video .player span{padding-left:0.2777rem;}
.shipin .shipin_wrap .media .video .player:before{/*border:10px solid #323232;;top:15px;right:15px;*/
    content:"";width:0;height:0;border:0.135rem solid transparent;border-left:0.185rem solid #323232;position:absolute;top:0.2277rem;right:0.2777rem;}
.shipin .shipin_wrap .media .video .player:hover{background:#f39c12;color:#fff;animation:player 0.8s linear infinite;}
.shipin .shipin_wrap .media .video .player:hover:before{border-left-color:#fff;}
@keyframes player{
    0%{box-shadow:0 0 0 0 rgba(255,255,255,0.0);}
    20%{box-shadow:0 0 0 0.014rem rgba(255,255,255,0.1);}
    40%{box-shadow:0 0 0 0.034rem rgba(255,255,255,0.2);}
    60%{box-shadow:0 0 0 0.054rem rgba(255,255,255,0.3);}
    80%{box-shadow:0 0 0 0.074rem rgba(255,255,255,0.4);}
    90%{box-shadow:0 0 0 0.094rem rgba(255,255,255,0.5);}
    100%{box-shadow:0 0 0 0.094rem rgba(255,255,255,0.3);}
}
.shipin .shipin_wrap .text{/*width:555px;height:382px;margin-left:70px;*/width:31.179%;height:7.074rem;margin-left:3.9325%;float:left;}
.shipin .shipin_wrap .text .title p{text-align:left;text-indent:0.2777rem;}


/*产品*/
.shipin .chanpin{/*margin-top:59px;*/margin-top:1.09259rem;}
.shipin .chanpin .text-wrap{/*width:905px;height:503px;*/width:50.84%;height:9.3148rem;background:#fafafa;float:left;overflow:hidden;position:relative;}
.shipin .chanpin .text-wrap .txt{/*width:780px;height:315px;margin:100px 0 0 41px;*/width:86.187%;height:5.8033rem;padding:1.85185rem 0 0 0.759259rem;box-sizing:content-box;overflow:hidden;}
.shipin .chanpin .text-wrap .txt .txt-ctr{width:100%;}
.shipin .chanpin .text-wrap .txt-ctr li{width:100%;/*height:78px;margin-bottom:40px;*/height:1.444rem;margin-bottom:0.7rem;}
.shipin .chanpin .text-wrap .txt-ctr li:last-child{margin-bottom:0;}
.shipin .chanpin .text-wrap .txt-ctr li .icon{width:1.444rem;height:100%;float:left;margin-right:29px;}
.shipin .chanpin .txt-ctr li .icon img{width:100%;height:100%;border-radius:50%;}
@keyframes iconAnimate{
    0%{box-shadow:0 0 2px 0 #66c6f0;}
    20%{box-shadow:0 0 4px 0 #66c3f1;}
    40%{box-shadow:0 0 6px 0 #68b9f2;}
    60%{box-shadow:0 0 8px 0 #69b4f3;}
    80%{box-shadow:0 0 10px 0 #6aaaf5;}
    100%{box-shadow:0 0 12px 0 #6aaaf5;}
}
.shipin .chanpin .txt li .info{float:left;/*width:675px;*/width:85.5384%;}
.shipin .chanpin .txt li .info h3{font-size:0.3rem;height:0.44rem;line-height:0.44rem;color:#010101;}
.shipin .chanpin .txt li .info h3 a{color:#010101;}
.shipin .chanpin .txt li:hover .info h3 a{color:#60edea;text-decoration:none;}
.shipin .chanpin .txt li:hover span:nth-child(1){color:#66c6f0;}
.shipin .chanpin .txt li:hover span:nth-child(2){color:#66c3f1;}
.shipin .chanpin .txt li:hover span:nth-child(3){color:#67c0f1;}
.shipin .chanpin .txt li:hover span:nth-child(4){color:#68b9f2;}
.shipin .chanpin .txt li:hover span:nth-child(5){color:#69b4f3;}
.shipin .chanpin .txt li:hover span:nth-child(6){color:#6aaaf5;}
.shipin .chanpin .txt li:hover .icon img{animation:iconAnimate 1s linear infinite alternate;}
.shipin .chanpin .txt li .info p{font-size:0.259rem;height:1.14rem;line-height:0.38rem;color:#7e7a7d;
    overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.shipin .chanpin .txt .ctr-btn{/*bottom:-35px;*/display:inline-block;position:absolute;bottom:0.648148rem;left:50%;margin-left:-0.3875rem;}
.shipin .chanpin .txt .ctr-btn li{/*width:10px;height:10px;margin-right:3px;*/width:0.155rem;height:0.155rem;margin-right:0.155rem;border-radius:50%;background:#60edea;float:left;cursor:pointer;}
.shipin .chanpin .txt .ctr-btn li:last-child{margin-right:0;}
.shipin .chanpin .txt .ctr-btn li:hover,.shipin .chanpin .txt .ctr-btn li.active{background:#000;}
.shipin .chanpin .pic{/*width:805px;height:503px;margin-left:40px;*/width:45.224%;height:9.3148rem;margin-left:0.74rem;float:left;box-shadow:0 0 7px 0 #eee;position:relative;}
.shipin .chanpin .pic img{width:100%;height:100%;position:absolute;top:0;left:0;/*display:none;*/}

/*智能*/
.zhineng{height:6.55rem;text-align:center;/*margin-top:62px;*/margin-top:1.148rem;}
.zhineng .inner{}
.zhineng .inner .title{text-align:center;}
.zhineng .inner .title h2{/*height:48px;line-height:48px;padding-top:32px;font-size:40px;*/box-sizing:content-box;margin-top:0;
    height:0.888rem;line-height:0.888rem;padding-top:0.592rem;font-size:0.74rem;letter-spacing:0.1296rem;}
.zhineng .inner .title h2 span:nth-child(1){color:#66c6f0;}
.zhineng .inner .title h2 span:nth-child(2){color:#66c3f1;}
.zhineng .inner .title h2 span:nth-child(3){color:#67c0f1;}
.zhineng .inner .title h2 span:nth-child(4){color:#68b9f2;}
.zhineng .inner .title h2 span:nth-child(5){color:#69b4f3;}
.zhineng .inner .title h2 span:nth-child(6){color:#6aaaf5;}
.zhineng .inner .title p{/*height:30px;line-height:30px;font-size:12px;*/
    box-sizing:content-box;height:0.555rem;line-height:0.555rem;font-size:0.222rem;}
.zhineng .inner .title p span:nth-child(1){color:#67c0f1;}
.zhineng .inner .title p span:nth-child(2){color:#67bef2;}
.zhineng .inner .title p span:nth-child(3){color:#67bcf2;}
.zhineng .inner .title p span:nth-child(4){color:#68bbf2;}
.zhineng .inner .title p span:nth-child(5){color:#68b9f2;}
.zhineng .inner .title p span:nth-child(6){color:#68b8f3;}
.zhineng .inner .title p span:nth-child(7){color:#6fb6f0;}
.zhineng .inner .title p span:nth-child(8){color:#69b4f3;}
.zhineng .inner .title p span:nth-child(9){color:#69b4f3;}
.zhineng .inner .title p span:nth-child(10){color:#69b2f3;}
.zhineng .inner .title p span:nth-child(11){color:#69b0f4;}
.zhineng .inner .title p span:nth-child(12){color:#69aff4;}
.zhineng .inner .title p span:nth-child(13){color:#6aacf4;}
.zhineng .inner .title p span:nth-child(14){color:#6aaaf5;}
.zhineng .inner .title p span:nth-child(15){color:#6aaaf5;}
.zhineng .inner ul{/*padding-top:16px;*/padding-top:0.296rem;display:inline-block;}
.zhineng .inner ul li{float:left;/*padding:0 70px;*/box-sizing:content-box;/*padding:0 1.296rem;*/width:2.407rem;margin-right:2.59rem;}
.zhineng .inner ul li:last-child{margin-right:0;}
.zhineng .inner ul li img{width:1.75rem;;height:1.7592rem;cursor:pointer;transition:all 1s linear;}
.zhineng .inner ul li img:hover{animation:zhinengIcon 1s linear infinite alternate;}
@keyframes zhinengIcon{
    0%{transform:rotate(0deg) scale(1);}
    25%{transform:rotate(90deg) scale(1.05);}
    50%{transform:rotate(180deg) scale(1.05);}
    75%{transform:rotate(270deg) scale(1.1);}
    80%{transform:rotate(360deg) scale(1.15);}
    100%{transform:rotate(360deg) scale(1.15);}
}
.zhineng .inner ul li p{/*padding-top:17px;font-size:20px;*/padding-top:0.3148rem;font-size:0.37rem;}
.zhineng .inner ul li p span:nth-child(1){color:#64d6ee;}
.zhineng .inner ul li p span:nth-child(2){color:#67bff1;}
.zhineng .inner ul li p span:nth-child(3){color:#69b1f4;}
.zhineng .inner ul li p span:nth-child(4){color:#6ba3f6;}
.zhineng .inner ul li p span:nth-child(5){color:#6c9af7;}
.zhineng .inner ul li p span:nth-child(6){color:#6f87fa;}


/*公司介绍*/
.jieshao{/*margin:74px 0 75px 0;*/margin:1.32rem 0 1.3888rem 0;}
.jieshao .content{}
.jieshao .content .pic{/*width:400px;height:290px;*/width:22.47%;/*width:7.407rem;*//*height:5.37rem;*/float:left;/*margin-left:261px;*/margin-left:14.629%;}
.jieshao .content .pic img{width:100%;}
.jieshao .content .text{/*width:830px;height:290px;*/width:46.629%;/*height:290px;*/float:left;/*margin-left:35px;*/margin-left:0.648148rem;}
.jieshao .content .text h2{/*font-size:36px;*//*height:39px;line-height:39px;*/
    height:0.722rem;line-height:0.7222rem;font-size:0.666rem;font-family:"FZY3JW";}
.jieshao .content .text h3{/*font-size:16px;*//*height:29px;line-height:29px;*/
    font-size:0.296rem;color:#7e7a7d;height:0.537rem;line-height:0.537rem;}
.jieshao .content .text p{/*line-height:29px;font-size:14px;*/
    color:#888587;font-size:0.25rem;padding-top:0.5925rem;line-height:0.5925rem;box-sizing:border-box;}
.jieshao .content .text .btn{/*width:150px;height:28px;*/
    width:18.93%;height:0.5185rem;border:1px solid #ededed;text-align:center;line-height:0.3rem;font-size:36px;margin-top:0.722rem;position:relative;}
.jieshao .content .text .btn a{/*font-size:36px;*/box-sizing:border-box;
    content:"→";width:100%;height:100%;line-height:0.3rem;color:#888683;font-size:0.666rem;position:absolute;top:0;left:0;transition:all 0.3s linear;}
.jieshao .content .text .btn:hover a{transform:translateX(0.2rem);}


/*设计师*/
.shejishi{width:100%;height:12.03rem;position:relative;}
.shejishi .inner{width:70%;margin:0 auto;padding:1.481rem 0 0 0;}
.shejishi .inner .swiper-container2{width:100%;height:9.074rem;overflow:hidden;}
.shejishi .inner .swiper-container2 .swiper-wrapper{width:100%;}
.shejishi .inner .swiper-container2 .swiper-wrapper .swiper-slide{/*width:31.74%;*/background:#fff;}
/*.shejishi .inner .swiper-container2 .swiper-wrapper .swiper-slide-active,
.shejishi .inner .swiper-container2 .swiper-wrapper .swiper-slide-prev,
.shejishi .inner .swiper-container2 .swiper-wrapper .swiper-slide-next{
    width:31.74% !important;
}*/
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide img{width:100%;height:4.166rem;}
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide h4{
    /*font-size:20px;height:29px;line-height:29px;padding-top:31px;*//*padding:0.574rem 0.574rem 0;*/
    color:#4b4b4b;padding:0 0.574rem;margin-top:0.574rem;clear:both;font-size:0.3703rem;height:0.537rem;line-height:0.537rem;}
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide h5{
    /*font-size:14px;height:22px;line-height:22px;padding-top:12px;*//*padding:0 0.574rem;*//*padding-top:0.2222rem;*/
    color:#4b4b4b;font-size:0.2592rem;height:0.4074rem;line-height:0.4074rem;padding:0.2222rem 0.574rem 0;box-sizing:content-box;}
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide p{
    /*font-size:12px;line-height:20px;padding-top:12px;*/
    width:100%;color:#7e7a7d;/*padding:0 0.574rem;*//*padding-top:0.1666rem;*/
    font-size:0.2222rem;line-height:0.3703rem;height:1.209rem;padding:0.1666rem 0.574rem 0;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;
    box-sizing:border-box;
}
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide .Btn{
    display:block;/*width:6.2592rem;*/width:84.5%;height:0.5925rem;line-height:0.5925rem;text-align:center;font-size:0.2222rem;border:0.0185rem solid #ededed;margin:0.574rem auto 0;text-decoration:none;color:#7e7a7d;}
.shejishi .inner .swiper-container2 .swiper-pagination{bottom:0.611rem;}


/*品牌*/
.pinpai{height:10.22rem;/*margin-bottom:0.7037rem;*/width:100%;margin:0 auto 0.7037rem;}
.pinpai .inner{height:10.22rem;width:100%;margin:0;}
.pinpai .title h2{margin-top:0;padding-top:0.7037rem;box-sizing:content-box;}
.pinpai .title p{margin-bottom:0.944rem;padding-top:0;margin-top:0.3518rem;}
.pinpai .picture{width:100%;text-align:center;}
.pinpai .picture ul{width:90.55%;margin:0 auto;/*margin-left:1.3518rem;*//*position:relative;right:-1.3518rem;*/}
.pinpai .picture ul li{float:left;/*width:5.55rem;*/width:16.66%;height:2.11rem;/*margin:0 0.555rem 0.574rem 0;*/margin:0 1.666% 0.555rem;text-align:center;}
.pinpai .picture ul li:nth-child(5n){margin-right:0;}
.pinpai .picture ul li img{display:inline-block;/*width:5.55rem;*/width:100%;/*height:2.11rem;*/height:100%;}


/*资讯*/
.zixun{margin-bottom:1.4259rem;overflow:hidden;}
.zixun .content{/*width:71.55%;*//*width:67.08%;*//*width:77.5%;*/width:57.29%;margin:1.259rem auto 0;position:relative;}
.zixun .content .swiper-container3{width:100%;height:3.703rem;overflow:hidden;}
.zixun .content .swiper-container3 .swiper-wrapper{/*width:61.11%;*//*width:85.4%;*/width:100%;margin:0 auto;}
.zixun .content .swiper-container3 .swiper-slide{/*width:510px;*//*width:28.33%;*/width:35.36%;/*margin-right:0.781%;*/overflow:hidden;}
.zixun .content .swiper-container3 .swiper-slide h5{
    /*height:18px;line-height:18px;font-size:16px;*/height:0.333rem;line-height:0.333rem;font-size:0.2962rem;overflow:hidden;}
.zixun .content .swiper-container3 .swiper-slide h6{
    /*height:26px;line-height:26px;font-size:16px;*/height:0.4814rem;line-height:0.4814rem;font-size:0.2962rem;margin-top:0.2777rem;
    overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.zixun .content .swiper-container3 .swiper-slide .line{
    width:96.07%;height:0.0185rem;background:#e7e7e7;border-left:0.3703rem solid #000;margin-top:0.1851rem;}
.zixun .content .swiper-container3 .swiper-slide p{
    /*line-height:27px;font-size:16px;*/height:1.49rem;line-height:0.5rem;font-size:0.2962rem;margin-top:0.111rem;
    overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.zixun .content .swiper-container3 .swiper-pagination{bottom:0;}
.zixun .content .swiper-container3 .swiper-pagination-bullet{/*width:0.05%;*/width:1rem;height:0.037rem;background:#bfbfbf;}
.zixun .content .swiper-container3 .swiper-pagination-bullet:hover,.zixun .content .swiper-container3 .swiper-pagination-bullet-active{
    background:#000;}
.zixun .content .swiper-container3 .swiper-button-prev{
    width:0.8148rem;height:1.407rem;font-size:0.555rem;color:#fff;text-align:center;line-height:1.407rem;
    background:url("../images/index_zixun_btn1.png") no-repeat;background-size:cover;left:-1.722rem;margin-top:-0.7rem;
}
.zixun .content .swiper-container3 .swiper-button-next{
    width:0.8148rem;height:1.407rem;font-size:0.555rem;color:#fff;text-align:center;line-height:1.407rem;
    background:url("../images/index_zixun_btn2.png") no-repeat;background-size:cover;right:-1.722rem;margin-top:-0.7rem;
}
.zixun .more{/*width:174px;height:31px;border:2px solid #ededed;margin-top:21px;*/
    display:block;width:3.222rem;height:0.5704rem;line-height:0.5704rem;border:0.03703rem solid #ededed;text-align:center;
    font-size:0.2593rem;margin:0.3888rem auto 0;
}
.zixun .more a{color:#888683;height:0.5704rem;line-height:0.5704rem;display:block;text-decoration:none;transition:all 0.3s linear;}
.zixun .more:hover a{transform:translateX(0.3703rem);}





/*media*/
@media screen and (max-width:2560px) and (min-width:1920px){
    /*banner*/
    .slider{/width:92.7083% !important;}
    .banner{/width:92.7083% !important;}
    .banner .slider-main{width:100%;position:relative;}
    .banner .slider-main li{width:100%;position:absolute;top:0;left:0;}
    .banner .slider-main li:nth-child(1){z-index:20;}
    .banner .slider-main li>img{width:100% !important;height:100% !important;}

    .jieshao .content .pic{margin-left:19.629%;}
}
@media screen and (max-width:1920px){
    /*banner*/
    .banner{width:92.7083% !important;}
    .jieshao .content .pic{margin-left:14.629%;}
}
@media screen and (max-width:1600px){
    .anli .content .li{margin:0 0.135rem 0.135rem 0;}
    .shipin .chanpin .txt li .info{width:82.5384%;}
    .jieshao .content .pic{width:7.407rem;margin-left:17.629%;}

    .jieshao .content .text p{padding-top:0.1925rem;}
    .jieshao .content .text .btn{margin-top:0.222rem;}
}
@media screen and (max-width:1440px) {
    .anli .content .li {margin: 0 0.115rem 0.115rem 0;}
    .shipin .chanpin .txt li .info {width: 80.5384%;}
    /*.sidebar-right .content{right:15px;}*/
    .jieshao .content .pic{ width: 7.407rem;}
    .jieshao .content .text p {line-height: 0.5925rem;}
}
@media screen and (max-width:1366px){
    .shipin .chanpin .txt li .info{width:79.5384%;}
    .zhineng .inner ul li{margin-right:1.19rem;}
}
@media screen and (max-width:1280px){
    .anli .content .li{margin:0 0.1rem 0.1rem 0;}
    .shipin .chanpin .txt li .info{width:78.5384%;}
    .jieshao .content .pic{margin-left:12.629%;}
}

@media screen and (max-width:1200px){
    .shipin .chanpin .txt li .info{width:77.5384%;}
    .zhineng .inner ul li{margin-right:0.79rem;}
    .shejishi .swiper-container2 .swiper-wrapper .swiper-slide .Btn{margin:0.174rem auto 0;}
}

@media screen and (max-width:1024px){
    .banner{padding:0;width:100% !important;}
    /*.shiping .row .media{margin-left:0;}
    .shiping .row .media .bg{display:none;}
    .shiping .row .media .video{width:93.75%;margin:0 auto;left:0;right:0;top:0;}*/
    .anli .content .li{/*width:438px;height:274px;margin:0 10px 10px 0;*/width:49.5%;height:4.074rem;margin:0 0.1rem 0.1rem 0;}
    .anli .content .li_2,.anli .content .li_4,.anli .content .li_6,.anli .content .li_8{margin-right:0;}

    .shipin .shipin_wrap .media{margin-left:11.4606%;}
    .shipin .shipin_wrap .text{width:45.179%;}
    .shipin .chanpin .txt li .info{width:73.5384%;}
    .shipin .chanpin .pic{margin-left:0.64rem;}

    .jieshao .content .pic{margin-left:6.629%;}
    .jieshao .content .text p{line-height:0.4925rem;}
    .pinpai .picture ul{width:100%;}
}
@media screen and (max-width:992px){
    .shipin .shipin_wrap .media{width:38.64%;margin-left:9.4606%;}
    .shipin .chanpin .txt li .info{width:72.5384%;}
    .jieshao .content .pic{margin-left:4.629%;}

    /*.anli .content .row .li{height:3.074rem;}
    .shiping .row .txt li .icon{width:12.59%;}
    .zhineng .inner ul .col-sm-4,.zhineng .inner ul .col-xs-4{padding:0;margin-right:0;}*/
    .shejishi .swiper-container2 .swiper-wrapper .swiper-slide .Btn{margin:0.574rem auto 0;}
}
@media screen and (max-width:800px){
    .shipin .shipin_wrap{display:flex;flex-direction:column;}
    .shipin .shipin_wrap .media{width:100%;margin-left:0;height:auto;order:2;margin-top:1.3rem;}
    .shipin .shipin_wrap .text{width:100%;margin-left:0;height:auto;order:1;}
    .shipin .chanpin{display:flex;flex-direction:column;}
    .shipin .chanpin .text-wrap{width:100%;margin-left:0;order:1;}
    .shipin .chanpin .txt li .info{width:71.5384%;}
    .shipin .chanpin .pic{width:100%;margin-left:0;order:2;}
    .zhineng{width:100%;}
    .jieshao{margin:1.32rem auto 1.3888rem auto;}
    .jieshao .content{display:flex;flex-direction:column;}
    .jieshao .content .pic{width:100%;margin-left:0;height:auto;order:2;margin-top:1.3rem;}
    .jieshao .content .text{width:100%;margin-left:0;height:auto;order:1;}
}
@media screen and (max-width:768px){

}
@media screen and (max-width:750px){
    .shipin .video .player:before{display:none;}
}
@media screen and (max-width:640px){
   /* .shiping .shipin_wrap .media .video .player:before{display:none;}
    .shiping .row .txt .txt-ctr{left:0.3rem;}*/

    .zhineng .inner ul li{margin-right:0.59rem;}
}
@media screen and (max-width:480px){
    /*.shiping .row .txt li .icon{width:19.59%;}*/
    .anli .content .li{width:48.5%;height:3.074rem;margin:0 0.03rem 0.03rem 0;}
    .zhineng .inner ul li{margin-right:0;}
}

@media screen and (max-width:450px){
    .zhineng .inner ul li{width:2.007rem;}
    .zhineng .inner ul li p{font-size:0.31rem;}
}
@media screen and (max-width:360px){
    .shipin .chanpin .txt li .info{width:69.5384%;}
    .zhineng .inner ul li{width:2.307rem;}
}
@media screen and (max-width:320px){
    .shipin .video .player{font-size:0.209rem;}
    .shipin .chanpin .txt li .info{width:68.5384%;}
    .shipin .chanpin .txt li .info p{padding-top:0.01rem;}

}
