*{margin:0;padding:0;}
body{position:relative;overflow-x:hidden;}

/*!*header*!
.header{width:100%;height:90px;!*height:0.6rem;*!position:fixed;top:0;left:0;background:rgba(255,255,255,0.8);z-index:30;}
.header .row{height:90px;!*height:0.6rem;*!}
.header .logo{!*padding-top:23px;*!height:0.8148rem;opacity:1;}
.header .logo a{width:100%;display:block;}
.header .logo img{!*width:100%;*!width:3.0185rem;!*height:44px;*!!*height:0.8148rem;*!padding-top:0.4259rem;!*height:100%;*!}

.header .row .nav{font-size:14px;margin-left:1rem;}
.header .row .nav ul{}
.header .row .nav ul li{float:left;font-size:14px;height:88px;border-top:2px solid #fff;position:relative;}
.header .row .nav ul li a{display:block;!*padding:0 16px;*!padding:0 0.2962rem;color:#7e7a7d;!*line-height:90px;*!
    !*line-height:1.666rem;*!position:relative;text-decoration:none;height:88px;line-height:88px;border-top:2px solid #fff;
}

.header .row .nav ul li a span{
    !*width:5px;height:5px;border-bottom:1px solid #7e7a7d;border-right:1px solid #7e7a7d;transform:rotateZ(45deg);display:block;float:right;*!
    position:absolute;top:50%;right:0;!*margin:-35px 0 0 3px;font-size:25px;*!
    margin:-0.6481rem 0 0 0.055rem;font-size:0.4629rem;
}
.header .row .nav ul li:hover,.header .row .nav ul li.active{border-top:2px solid #75f4ed;}

.header .row .nav ul li .subMenu{width:100%;position:absolute;top:88px;left:0;background:rgba(255,255,255,0.5);z-index:20;display:none;}
.header .row .nav ul li .subMenu li{border-top:none;height:45px;line-height:45px;width:100%;text-align:center;}
.header .row .nav ul li .subMenu li a{border-top:none;height:45px;line-height:45px;display:block;padding:0;}
.header .row .nav ul li .subMenu li a:hover{background:#60edea;color:#fff;}

!*响应式折叠导航栏*!
.header .row .NewNav{margin-top:-0.5rem;}
.header .row .NewNav ul{
    !*width:28px;height:23px;padding-top:5px;*!
    background:#323232;width:0.5185rem;height:0.4259rem;padding-top:0.0925rem;
}
.header .row .NewNav ul li{
    !*width:16px;height:2.6px;border-radius:3px;margin:0 auto 2.6px;*!
    background:#fff;width:0.2962rem;height:0.048rem;border-radius:0.055rem;margin:0 auto 0.04814rem;
}
.header .row .NewNav img{width:28px;height:28px;!*width:0.5185rem;height:0.5185rem;*!}


/*.sidebar-left .body .sidebar-nav .navContent{padding-left:0.1851rem;display:none;}
.sidebar-left .body .sidebar-nav .navContent li{width:100%;height:0.75925rem;line-height:0.75925rem;color:#323232;}
.sidebar-left .body .sidebar-nav .navContent li a{color:#323232;text-decoration:none;font-size:14px;width:100%;display:block;}
.sidebar-left .body .sidebar-nav .navContent li a:hover{color:#F39C12;}*/
/*.sidebar-left .body .address ul li a{height:0.46296rem;line-height:0.46296rem;font-size:14px;color:#323232;}
.sidebar-left .body .address ul li:nth-child(3) a{border-bottom:1px solid #f39c12;text-decoration:none;}*/

/*banner*/
.slider{
    width:93.75% !important;/* height:14.555rem !important;*/
    margin:1.666rem auto 0;overflow:hidden;
}


.banner{/*width:100%;*//*margin-top:90px;*//*height:786px;*//*height:14.555rem !important;*/width:93.75% !important;margin:1.666rem auto 0;padding:0;}
/*.banner .wrap{width:93.75%;margin:0 auto;padding:0;text-align:center;}
.banner .wrap img{width:100%;}*/
.banner .slider-main{width:100%;}
.banner .slider-main li{width:100%;}
.banner .slider-main li>img{width:100%;height:100%;}

/*.banner .swiper-container{width:93.75%;margin:0 auto;padding:0;text-align:center;position:relative;}
.banner .swiper-container .swiper-wrapper{width:100%;}
.banner .swiper-container .swiper-slide{width:100%;}
.banner .swiper-container .swiper-slide a{width:100%;height:100%;display:block;}
.banner .swiper-wrapper .swiper-slide img{width:100%;height:100%;display:block;}
.banner .swiper-container .swiper-button-next{!*width:70px;min-width:3.89%;height:60px;line-height:60px;*!!*right:7px;*!
    width:1.2962rem;height:1rem;line-height:1rem;position:absolute;top:50%;right:0.1296rem;background:url("../images/banner-bg.png") no-repeat center;z-index:30;}
.banner .swiper-container .swiper-button-next:before{!*width:113px;width:6.28%;font-size:50px;*!
    content:'→';height:100%;color:#fff;text-align:center;width:2.0825rem;font-size:0.9259rem;position:absolute;top:0;right:0;transition:all 0.3s linear;}
.banner .swiper-container .swiper-button-next:hover:before{!*transform:translateX(20px);*!transform:translateX(0.3703rem);}
.banner .swiper-container .swiper-button-prev{!*width:70px;*!!*min-width:3.89%;height:60px;line-height:60px;*!!*left:7px;*!
    width:1.2962rem;height:1rem;line-height:1rem;position:absolute;top:50%;left:0.1296rem;background:url("../images/banner-bg2.png") no-repeat center;z-index:30;}
.banner .swiper-container .swiper-button-prev:before{content:'←';!*width:113px;*!!*width:6.28%;*!!*font-size:50px;*!
    height:100%;color:#fff;text-align:center;width:2.0825rem;font-size:0.9259rem;position:absolute;top:0;left:0;transition:all 0.3s linear;}
.banner .swiper-container .swiper-button-prev:hover:before{!*transform:translateX(-20px);*!transform:translateX(-0.3703rem);}*/

/*sidebar-left*/
/*.sidebar{width:3.125%;height:100%;position:fixed;z-index:30;top:0;background:transparent;}
.sidebar-left{left:0;}
.sidebar-left !*.content*!.title{!*margin-top:446px;font-size:16px;*!!*color:#6aaef4;*!!*margin-top:9rem;*!!*transform:rotate(-90deg);*!!*background:#e0dfdb;color:transparent;*!
    font-size:0.2962rem;font-weight:bold;background:#fff;overflow:hidden;}
.sidebar-left .title .cont{margin-top:445px;width:75px;transform:rotate(-90deg);position:relative;left:-20px;}
.sidebar-left !*.content*!.title span{float:left;cursor:pointer;}
!*.sidebar-left !*.content*!.title span:before{content:"≡";position:absolute;top:-3px;right:-10px;font-size:20px;}*!
.sidebar-left !*.content*!.title img{
    !*background:#60edea;color:#60edea;*!!* width:16px;height:16px;background:url("../images/icon/nav.svg");-webkit-filter:drop-shadow(rgb(0,204,153) 80px 0px);filter: drop-shadow(rgb(0,204,153) 80px 0px);*!
    float:left;margin:6px 0 0 5px;}
.sidebar-left .body{}
.sidebar-left .body .search{width:88.981%;height:0.666rem;position:relative;}
.sidebar-left .body .search input{border:1px solid #e4eaec;width:100%;height:0.666rem;line-height:0.666rem;padding:0.0925rem 0.1851rem;border-radius:0.3592rem;transition:all 0.3s linear;}
.sidebar-left .body .search input:focus{box-shadow:0 0 3px 0 rgb(27,28,29) inset;}
.sidebar-left .body .search img{!*top:12px;right:12px;*!position:absolute;top:0.222rem;right:0.222rem;!*font-size:14px;*!font-size:0.259rem;cursor:pointer;}
.sidebar-left .body .search .close{width:0.666rem;height:0.666rem;position:absolute;top:0.05rem;right:-1.5rem;}
.sidebar-left .body .search .close img{width:0.666rem;height:0.666rem;top:auto;right:auto;}

.sidebar-left .body .sidebar-nav{margin:0.3888rem 0 0 0.0925rem;width:100%;}
.sidebar-left .body .sidebar-nav .li{!*height:41px;line-height:41px;*!width:100%;height:0.75925rem;line-height:0.75925rem;color:#323232;}
.sidebar-left .body .sidebar-nav .li a{color:#323232;text-decoration:none;!*font-size:16px;*!font-size:0.296rem;width:100%;display:block;}
.sidebar-left .body .sidebar-nav .li a:hover,.sidebar-left .body .sidebar-nav .active{color:#F39C12;}
!*.sidebar-left .body .sidebar-nav li span{float:right;font-size:32px;}*!
.sidebar-left .body .sidebar-nav .hasMenu{background:url("../images/sidebar-jia.png") no-repeat 12.962rem 0;}
.sidebar-left .body .sidebar-nav .currentMenu{background:url("../images/sidebar-jian.png") no-repeat 12.962rem 0;}
.sidebar-left .body .sidebar-nav .navContent{padding-left:0.1851rem;display:none;}
.sidebar-left .body .sidebar-nav .navContent li{width:100%;height:0.75925rem;line-height:0.75925rem;color:#323232;}
.sidebar-left .body .sidebar-nav .navContent li a{color:#323232;text-decoration:none;!*font-size:14px;*!font-size:0.259rem;width:100%;display:block;}
.sidebar-left .body .sidebar-nav .navContent li a:hover{color:#F39C12;}
.sidebar-left .body .address{margin:0.3888rem 0 0 0.0925rem;}
.sidebar-left .body .address ul{}
.sidebar-left .body .address ul li{!*height:25px;line-height:25px;*!height:0.46296rem;line-height:0.46296rem;color:#323232;}
.sidebar-left .body .address ul li a{height:0.46296rem;line-height:0.46296rem;!*font-size:14px;*!font-size:0.259rem;color:#323232;}
.sidebar-left .body .address ul li:nth-child(3) a{border-bottom:1px solid #f39c12;text-decoration:none;}*/

/*sidebar-right*/
.sidebar-right{height:100%;text-align:center;background:#fff;position:fixed;top:0;right:0;z-index:20;}
.sidebar-right .content{height:2.722rem;background:transparent;position:absolute;top:409px;right:25px;}
.sidebar-right ul{display:inline-block;/*margin:0 auto;*/}
.sidebar-right ul li{width:6px;height:6px;border-radius:50%;margin-bottom:12px;cursor:pointer;position:relative;}
.sidebar-right ul li.prev{width:10px;height:10px;border-top:2px solid #62e4ec;border-left:2px solid #62e4ec;border-radius:0;transform:rotateZ(45deg);margin-left:-2px;}
.sidebar-right ul li.next{width:10px;height:10px;border-bottom:2px solid #6f88fa;border-right:2px solid #6f88fa;border-radius:0;transform:rotateZ(45deg);margin-left:-2px;}
.sidebar-right ul li:before{
    box-sizing:border-box;
    width:70px;height:60px;line-height:60px;font-size:12px;color:#fff;
    background:-webkit-linear-gradient(left,#60edea,#7273fd);
    background:-o-linear-gradient(left,#60edea,#7273fd);
    background:-moz-linear-gradient(left,#60edea,#7273fd);
    background:linear-gradient(left,#60edea,#7273fd);
    position:absolute;top:-30px;left:-90px;
    /*display:none;*/
    opacity:0;
    transition:all 0.3s linear;
}
.sidebar-right ul li:hover:before{/*display:block;*/opacity:1;}
.sidebar-right ul li:nth-child(2){background-color:#64d6ee;}
.sidebar-right ul li:nth-child(2):before{content:"案例展示";}
.sidebar-right ul li:nth-child(3){background-color:#65ccf0;}
.sidebar-right ul li:nth-child(3):before{content: "宣传视频";}
.sidebar-right ul li:nth-child(4){background-color:#67c0f1;}
.sidebar-right ul li:nth-child(4):before{content: "智能改变生活";width:100px;left:-120px;}
.sidebar-right ul li:nth-child(5){background-color:#68b6f3;}
.sidebar-right ul li:nth-child(5):before{content: "公司介绍";}
.sidebar-right ul li:nth-child(6){background-color:#6aacf4;}
.sidebar-right ul li:nth-child(6):before{content: "设计师";}
.sidebar-right ul li:nth-child(7){background-color:#6ca1f6;}
.sidebar-right ul li:nth-child(7):before{content: "合作品牌";}
.sidebar-right ul li:nth-child(8){background-color:#6d97f8;}
.sidebar-right ul li:nth-child(8):before{content: "行业资讯";}
.sidebar-right ul li:hover,.sidebar-right ul li.active{background:#000;}
.sidebar-right ul li.prev:hover{border-top:2px solid #000;border-left:2px solid #000;background:transparent;}
.sidebar-right ul li.next:hover{border-bottom:2px solid #000;border-right:2px solid #000;background:transparent;}

/*案例*/
.anli{width:100%;}
.anli .container{width:100%;}
.anli .content{/*margin-top:37px;*/width:93.75%;margin-top:0.68518rem;}
.anli .content .row{}
.anli .content .row li{/*margin-bottom:10px;*/height:5.074rem;/*padding:0;*//*;margin:0.0925rem 0.03255rem 0.1851rem;*/overflow:hidden;position:relative;}
.anli .content .row li:nth-child(4n){margin-right:0;}
.anli .content .row li a{display:block;}
.anli .content .row li img{width:100%;height:5.074rem;transition:all 0.3s linear;}
.anli .col-md-6,.anli .col-sm-6,.anli .col-xs-6{
    /*padding:0 8px;*/padding:0.1111rem;
}
.anli .content .row li .info{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(255,255,255,0.5);opacity:0;transition:all 0.3s linear;}
.anli .content .row li .info h5{font-size:24px;color:#323232;/*padding:30px 0 0 42px;*/padding:0.555rem 0 0 0.7777rem;transition:all 0.3s linear;}

.anli .content .row .li{/*box-sizing:content-box;padding-bottom:0;width:8rem;width:22.8125%;margin:0.1111rem;*//*margin:0.0925rem 0.11111rem 0.1851rem 0;*/
    height:5.074rem;}
.anli .content .row li:hover .info{opacity:1;}
.anli .content .row li:hover .info h5{transform:translateY(0.37rem);}
.anli .content .row li:hover img{/*transform:scale(1.03);*/}

/*宣传视频*/
.shiping{/*margin-top:46px;*/margin-top:0.8518rem;}
.shiping .row{}
.shiping .row .media{position:relative;height:7.03rem;/*margin-left:240px;*/margin-left:4.444rem;}
.shiping .row .media .bg{
    /*height:342px;height:28.5rem;*/width:93.75%;height:6.43rem;
    background:-webkit-linear-gradient(left,#60edea,#7273fd);
    background:-o-linear-gradient(left,#60edea,#7273fd);
    background:-moz-linear-gradient(left,#60edea,#7273fd);
    background:linear-gradient(left,#60edea,#7273fd);
}
.shiping .row .media .video{width:93.75%;/*height:342px;*/height:6.43rem;position:absolute;/*top:40px;*/top:0.74rem;right:0;}
.shiping .row .media .video img{width:100%;height:100%;}
.shiping .row .media .video .player{/*width:148px;height:48px;*//*width:140px;height:40px;border:2px solid #d4d3d2;font-size:14px;*/
    /*width:2.7407rem;height:0.888rem;*/
    width:2.592rem;height:0.7407rem;line-height:0.7407rem;/*text-align:center;*//*border:0.074rem solid #d4d3d2;*/
    position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;
    /*background:url("../images/shipin-player.png") no-repeat center;background-size:cover;*/
    color:#7e7a7d;font-size:0.259rem;background:#fff;cursor:pointer;animation:player 1s linear infinite;transition:all 0.3s linear;
}
.shiping .row .media .video .player span{padding-left:0.2777rem;}
.shiping .row .media .video .player:before{/*border:10px solid #323232;;top:15px;right:15px;*/
    content:"";width:0;height:0;border:0.135rem solid transparent;border-left:0.185rem solid #323232;position:absolute;top:0.2277rem;right:0.2777rem;}
.shiping .row .media .video .player:hover{background:#f39c12;color:#fff;animation:player 1s linear infinite;}
.shiping .row .media .video .player:hover:before{border-left-color:#fff;}

@keyframes player{
    0%{box-shadow:0 0 0 0 rgba(255,255,255,0.0);}
    20%{box-shadow:0 0 0 0.014rem rgba(255,255,255,0.1);}
    40%{box-shadow:0 0 0 0.034rem rgba(255,255,255,0.2);}
    60%{box-shadow:0 0 0 0.054rem rgba(255,255,255,0.3);}
    80%{box-shadow:0 0 0 0.074rem rgba(255,255,255,0.4);}
    90%{box-shadow:0 0 0 0.094rem rgba(255,255,255,0.5);}
    100%{box-shadow:0 0 0 0.094rem rgba(255,255,255,0.3);}
}

.shiping .row .text{}
.shiping .row .text .title{/*width:91.72%;*/width:86.72%;margin:0 auto;}
.shiping .row .text .title p{text-indent:15px;text-align:left;}
.shiping .row:nth-child(2){margin-top:1.05rem;}

/*.shiping .row .swiper-container{width:98.61%;height:100%;}*/
.shiping .row .txt{background:#fafafa;width:98.61%;/*width:100% !important;*//*height:100%;*/height:8.87rem;
    /*padding:1.9rem 1% 2.05rem 7.5%;*/
    /*padding:1.9rem 1% 1.05rem 7.5%;*/
    /*padding:1.9rem 1% 0 7.5%;*/
    padding:1.9rem 0.1704259rem 0 1.27979629rem;
    margin-bottom:1.05rem;position:relative;text-align:center;overflow:hidden;
}
/*.shiping .row .txt .swiper-slide,.shiping .row .txt .swiper-slide-duplicate,
.shiping .row .txt .swiper-slide-duplicate-active,.shiping .row .txt .swiper-slide-duplicate-next,
.shiping .row .txt .swiper-slide-prev{width:100% !important;height:100%;}*/

/*.shiping .row .txt .txt-ctr{position:absolute;top:1.9rem;left:1.27979629rem;}*/

/*.shiping .row .txt .txt-ctr{width:100% !important;height:100%;!*margin-right:auto !important;*!position:absolute;top:1.9rem;left:1.27979629rem;text-align:left;display:none;}
.shiping .row .txt .ctr-btn{display:inline-block;margin:0 auto;position:absolute;!*bottom:-35px;*!bottom:-0.648148rem;}
.shiping .row .txt .ctr-btn li{!*width:10px;height:10px;margin-right:3px;*!width:0.155rem;height:0.155rem;margin-right:0.155rem;border-radius:50%;background:#60edea;float:left;
cursor:pointer;}
.shiping .row .txt .ctr-btn li:last-child{margin-right:0;}
.shiping .row .txt .ctr-btn li:hover,.shiping .row .txt .ctr-btn li.active{background:#000;}


.shiping .row .txt li{margin-bottom:0.759rem;}
.shiping .row .txt li .icon{width:8.59%;height:1.46rem;float:left;margin-right:3.9%;}
.shiping .row .txt li .icon img{width:100%;height:100%;border-radius:50%;animation:iconAnimate 1s linear infinite alternate;}*/
.shiping .row .txt li{margin-bottom:0.759rem;cursor:pointer;}
.shiping .row .txt li .icon{width:8.59%;height:1.46rem;float:left;margin-right:3.9%;}
.shiping .row .txt li .icon img{width:100%;height:100%;border-radius:50%;}

@keyframes iconAnimate{
    0%{box-shadow:0 0 2px 0 #66c6f0;}
    20%{box-shadow:0 0 4px 0 #66c3f1;}
    40%{box-shadow:0 0 6px 0 #68b9f2;}
    60%{box-shadow:0 0 8px 0 #69b4f3;}
    80%{box-shadow:0 0 10px 0 #6aaaf5;}
    100%{box-shadow:0 0 12px 0 #6aaaf5;}
}

.shiping .row .txt li .info{float:left;width:74.11%;}
.shiping .row .txt li .info h3{
    /*height:24px;line-height:24px;font-size:18px;*/
    font-size:0.3rem;height:0.44rem;line-height:0.44rem;color:#010101;
    /*color:#60edea;*/
    /*left,#60edea,#7273fd*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(98, 227, 236, 1)), to(rgba(110, 143, 249, 1)));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;*/
}
.shiping .row .txt li .info h3 a{color:#010101;}
.shiping .row .txt li:hover .info h3 a{color:#60edea;text-decoration:none;}
.shiping .row .txt li:hover .icon img{animation:iconAnimate 1s linear infinite alternate;}

.shiping .row .txt li .info p{
    /*height:21px;line-height:21px;font-size:14px;*/
    font-size:0.259rem;height:1.14rem;line-height:0.38rem;color:#7e7a7d;
    overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;
}

.shiping .row .txt .txt-ctr{/*width:100% !important;*/width:98.61%;height:100%;/*margin-right:auto !important;*/position:absolute;top:1.9rem;left:1.27979629rem;text-align:left;display:none;}
.shiping .row .txt .ctr-btn{display:inline-block;position:absolute;/*bottom:-35px;*/bottom:-0.648148rem;left:50%;margin-left:-0.3875rem;}
.shiping .row .txt .ctr-btn li{/*width:10px;height:10px;margin-right:3px;*/width:0.155rem;height:0.155rem;margin-right:0.155rem;border-radius:50%;background:#60edea;float:left;
    cursor:pointer;}
.shiping .row .txt .ctr-btn li:last-child{margin-right:0;}
.shiping .row .txt .ctr-btn li:hover,.shiping .row .txt .ctr-btn li.active{background:#000;}


.shiping .row .pic{height:8.87rem;/*box-shadow:0 0 7px 0 #eee;*/position:relative;}
.shiping .row .pic img{width:100%;height:100%;box-shadow:0 0 7px 0 #eee;position:absolute;top:0;left:0;display:none;}

/*智能*/
.zhineng{width:100%;height:6.55rem;text-align:center;}
.zhineng .inner{/*width:50%;margin:0 auto;*/}
.zhineng .inner .title{text-align:center;}
.zhineng .inner .title h2{
    box-sizing:content-box;/*height:48px;line-height:48px;padding-top:32px;font-size:40px;*/margin-top:0;
    height:0.888rem;line-height:0.888rem;padding-top:0.592rem;font-size:0.74rem;letter-spacing:0.1296rem;
}
.zhineng .inner .title h2 span:nth-child(1){color:#66c6f0;}
.zhineng .inner .title h2 span:nth-child(2){color:#66c3f1;}
.zhineng .inner .title h2 span:nth-child(3){color:#67c0f1;}
.zhineng .inner .title h2 span:nth-child(4){color:#68b9f2;}
.zhineng .inner .title h2 span:nth-child(5){color:#69b4f3;}
.zhineng .inner .title h2 span:nth-child(6){color:#6aaaf5;}

.zhineng .inner .title p{
    /*height:30px;line-height:30px;font-size:12px;*/
    box-sizing:content-box;height:0.555rem;line-height:0.555rem;font-size:0.222rem;
}
.zhineng .inner .title p span:nth-child(1){color:#67c0f1;}
.zhineng .inner .title p span:nth-child(2){color:#67bef2;}
.zhineng .inner .title p span:nth-child(3){color:#67bcf2;}
.zhineng .inner .title p span:nth-child(4){color:#68bbf2;}
.zhineng .inner .title p span:nth-child(5){color:#68b9f2;}
.zhineng .inner .title p span:nth-child(6){color:#68b8f3;}
.zhineng .inner .title p span:nth-child(7){color:#6fb6f0;}
.zhineng .inner .title p span:nth-child(8){color:#69b4f3;}
.zhineng .inner .title p span:nth-child(9){color:#69b4f3;}
.zhineng .inner .title p span:nth-child(10){color:#69b2f3;}
.zhineng .inner .title p span:nth-child(11){color:#69b0f4;}
.zhineng .inner .title p span:nth-child(12){color:#69aff4;}
.zhineng .inner .title p span:nth-child(13){color:#6aacf4;}
.zhineng .inner .title p span:nth-child(14){color:#6aaaf5;}
.zhineng .inner .title p span:nth-child(15){color:#6aaaf5;}
.zhineng .inner ul{/*padding-top:16px;*/padding-top:0.296rem;display:inline-block;}
.zhineng .inner ul li{float:left;/*padding:0 70px;*/box-sizing:content-box;/*padding:0 1.296rem;*/width:2.407rem;margin-right:2.59rem;}
.zhineng .inner ul li:last-child{margin-right:0;}
.zhineng .inner ul li img{width:1.75rem;;height:1.7592rem;cursor:pointer;transition:all 1s linear;}
.zhineng .inner ul li img:hover{animation:zhinengIcon 1s linear infinite alternate;}
@keyframes zhinengIcon{
    0%{transform:rotate(0deg) scale(1);}
    25%{transform:rotate(90deg) scale(1.05);}
    50%{transform:rotate(180deg) scale(1.05);}
    75%{transform:rotate(270deg) scale(1.1);}
    80%{transform:rotate(360deg) scale(1.15);}
    100%{transform:rotate(360deg) scale(1.15);}
}
.zhineng .inner ul li p{/*padding-top:17px;font-size:20px;*/padding-top:0.3148rem;font-size:0.37rem;}
.zhineng .inner ul li p span:nth-child(1){color:#64d6ee;}
.zhineng .inner ul li p span:nth-child(2){color:#67bff1;}
.zhineng .inner ul li p span:nth-child(3){color:#69b1f4;}
.zhineng .inner ul li p span:nth-child(4){color:#6ba3f6;}
.zhineng .inner ul li p span:nth-child(5){color:#6c9af7;}
.zhineng .inner ul li p span:nth-child(6){color:#6f87fa;}
.zhineng .inner ul .col-sm-4,.zhineng .inner ul .col-xs-4{padding:0;/*margin-right:0;*/}
/*公司介绍*/
.jieshao{margin-top:1.37rem;}
.jieshao .row{}
.jieshao .row .pic{height:5.37rem;margin-bottom:1.388rem;}
.jieshao .row .pic img{width:100%;/*width:77.28%;*/height:5.37rem;}
.jieshao .row .text{padding:0 0.1rem 0 0.5rem;margin-bottom:1.388rem;}
.jieshao .row .text h2{/*font-size:36px;*//*height:39px;line-height:39px;*/
    height:0.722rem;line-height:0.7222rem;font-size:0.666rem;}
.jieshao .row .text h3{/*font-size:16px;*//*height:29px;line-height:29px;*/
    font-size:0.296rem;color:#7e7a7d;height:0.537rem;line-height:0.537rem;}
.jieshao .row .text p{/*line-height:29px;font-size:14px;*/
    color:#888587;font-size:0.25rem;padding-top:0.5925rem;line-height:0.5925rem;}
.jieshao .row .text .btn{
    /*width:150px;height:28px;*/
    width:18.93%;height:0.5185rem;border:1px solid #ededed;text-align:center;line-height:0.3rem;font-size:36px;color:#888683;margin-top:0.722rem;position:relative;}
.jieshao .row .text .btn:before{/*font-size:36px;*/
    content:"→";width:100%;height:100%;line-height:0.5rem;font-size:0.666rem;position:absolute;top:0;left:0;transition:all 0.3s linear;}
.jieshao .row .text .btn:hover:before{transform:translateX(0.2rem);}

/*设计师*/
.shejishi{width:100%;height:12.03rem;position:relative;}
/*.shejishi .inner{height:12.03rem;margin:0;}*/
.shejishi .inner{width:70%;margin:0 auto;padding:1.481rem 0 0 0;}
.shejishi .inner .swiper-container2{width:100%;height:9.074rem;overflow:hidden;}
.shejishi .inner .swiper-container2 .swiper-wrapper{width:100%;}
.shejishi .inner .swiper-container2 .swiper-wrapper .swiper-slide{/*width:31.74%;*/background:#fff;}
/*.shejishi .inner .swiper-container2 .swiper-wrapper .swiper-slide-active,
.shejishi .inner .swiper-container2 .swiper-wrapper .swiper-slide-prev,
.shejishi .inner .swiper-container2 .swiper-wrapper .swiper-slide-next{
    width:31.74% !important;
}*/
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide img{width:100%;height:4.166rem;}
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide h4{
    /*font-size:20px;height:29px;line-height:29px;padding-top:31px;*//*padding:0.574rem 0.574rem 0;*/
    color:#4b4b4b;padding:0 0.574rem;margin-top:0.574rem;
    clear:both;font-size:0.3703rem;height:0.537rem;line-height:0.537rem;}
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide h5{
    /*font-size:14px;height:22px;line-height:22px;padding-top:12px;*//*padding:0 0.574rem;*//*padding-top:0.2222rem;*/
    color:#4b4b4b;font-size:0.2592rem;height:0.4074rem;line-height:0.4074rem;padding:0.2222rem 0.574rem 0;box-sizing:content-box;}
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide p{
    /*font-size:12px;line-height:20px;padding-top:12px;*/
    width:100%;color:#7e7a7d;/*padding:0 0.574rem;*/
    font-size:0.2222rem;line-height:0.3703rem;height:1.209rem;/*padding-top:0.1666rem;*/padding:0.1666rem 0.574rem 0;
    overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.shejishi .swiper-container2 .swiper-wrapper .swiper-slide .Btn{
    display:block;/*width:6.2592rem;*/width:84.5%;height:0.5925rem;
    line-height:0.5925rem;text-align:center;font-size:0.2222rem;
    border:0.0185rem solid #ededed;margin:0.574rem auto 0;text-decoration:none;color:#7e7a7d;}
.shejishi .inner .swiper-container2 .swiper-pagination{bottom:0.611rem;}

/*品牌*/
.pinpai{height:10.22rem;/*margin-bottom:0.7037rem;*/width:100%;margin:0 auto 0.7037rem;}
.pinpai .inner{height:10.22rem;width:100%;margin:0;}
.pinpai .title h2{margin-top:0;padding-top:0.7037rem;box-sizing:content-box;}
.pinpai .title p{margin-bottom:0.944rem;padding-top:0;margin-top:0.3518rem;}
.pinpai .picture{width:100%;text-align:center;}
.pinpai .picture ul{width:90.55%;margin:0 auto;/*margin-left:1.3518rem;*//*position:relative;right:-1.3518rem;*/}
.pinpai .picture ul li{float:left;/*width:5.55rem;*/width:16.66%;height:2.11rem;/*margin:0 0.555rem 0.574rem 0;*/margin:0 1.666% 0.555rem;text-align:center;}
.pinpai .picture ul li:nth-child(5n){margin-right:0;}
.pinpai .picture ul li img{display:inline-block;/*width:5.55rem;*/width:100%;/*height:2.11rem;*/height:100%;}

/*资讯*/
.zixun{margin-bottom:1.4259rem;overflow:hidden;}
.zixun .content{/*width:71.55%;*//*width:67.08%;*//*width:77.5%;*/width:57.29%;margin:1.259rem auto 0;position:relative;}
.zixun .content .swiper-container3{width:100%;height:3.703rem;overflow:hidden;}
.zixun .content .swiper-container3 .swiper-wrapper{/*width:61.11%;*//*width:85.4%;*/width:100%;margin:0 auto;}
.zixun .content .swiper-container3 .swiper-slide{/*width:510px;*//*width:28.33%;*/width:35.36%;/*margin-right:0.781%;*/overflow:hidden;}
.zixun .content .swiper-container3 .swiper-slide h5{
    /*height:18px;line-height:18px;font-size:16px;*/height:0.333rem;line-height:0.333rem;font-size:0.2962rem;overflow:hidden;}
.zixun .content .swiper-container3 .swiper-slide h6{
    /*height:26px;line-height:26px;font-size:16px;*/height:0.4814rem;line-height:0.4814rem;font-size:0.2962rem;margin-top:0.2777rem;
    overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.zixun .content .swiper-container3 .swiper-slide .line{
    width:96.07%;height:0.0185rem;background:#e7e7e7;border-left:0.3703rem solid #000;margin-top:0.1851rem;}
.zixun .content .swiper-container3 .swiper-slide p{
    /*line-height:27px;font-size:16px;*/height:1.49rem;line-height:0.5rem;font-size:0.2962rem;margin-top:0.111rem;
    overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.zixun .content .swiper-container3 .swiper-pagination{bottom:0;}
.zixun .content .swiper-container3 .swiper-pagination-bullet{/*width:0.05%;*/width:1rem;height:0.037rem;background:#bfbfbf;}
.zixun .content .swiper-container3 .swiper-pagination-bullet:hover,.zixun .content .swiper-container3 .swiper-pagination-bullet-active{
    background:#000;}
.zixun .content .swiper-container3 .swiper-button-prev{
    /*width:44px;height:76px;*/
    width:0.8148rem;height:1.407rem;font-size:0.555rem;color:#fff;text-align:center;line-height:1.407rem;
    background:-webkit-linear-gradient(left,#60edea,#7273fd);
    background:-o-linear-gradient(left,#60edea,#7273fd);
    background:-moz-linear-gradient(left,#60edea,#7273fd);
    background:linear-gradient(left,#60edea,#7273fd);
    font-family:arial;left:-1.722rem;margin-top:-0.7rem;
}
.zixun .content .swiper-container3 .swiper-button-next{
    width:0.8148rem;height:1.407rem;font-size:0.555rem;color:#fff;text-align:center;line-height:1.407rem;
    background:-webkit-linear-gradient(left,#7273fd,#60edea);
    background:-o-linear-gradient(left,#7273fd,#60edea);
    background:-moz-linear-gradient(left,#7273fd,#60edea);
    background:linear-gradient(left,#7273fd,#60edea);
    font-family:arial;right:-1.722rem;margin-top:-0.7rem;
}
.zixun .more{/*width:174px;height:31px;border:2px solid #ededed;margin-top:21px;*/
    display:block;width:3.222rem;height:0.5704rem;line-height:0.5704rem;border:0.03703rem solid #ededed;text-align:center;
    font-size:0.2593rem;margin:0.3888rem auto 0;
}
.zixun .more a{color:#888683;height:0.5704rem;line-height:0.5704rem;display:block;text-decoration:none;transition:all 0.3s linear;}
.zixun .more:hover a{transform:translateX(0.3703rem);}

/*!*友链*!
.friendlyLink{padding-top:1.166rem;width:100%;background:#f9f9f9;text-align:center;}
.friendlyLink ul{display:inline-block;}
.friendlyLink ul li{line-height:20px;font-size:12px;color:#8d8d8d;float:left;}
.friendlyLink ul li a{color:#8d8d8d;text-decoration:none;padding:0 5px;}
!*footer*!
.footer{padding-top:0.666rem;background:#f9f9f9;text-align:center;}
.footer .footerNav{text-align:left;margin:0 auto;display:inline-block;}
.footer .footerNav{display:inline-block;}
.footer .footerNav li{text-align:center;padding:0 0.3703rem;}
.footer .footerNav li a{!*font-size:20px;*!color:#393838;display:block;text-decoration:none;font-size:0.3703rem;}
.footer .footerAbout{padding:0.648rem 0 1.14rem 0;text-align:left;}
.footer .footerAbout h5,.footer .footerContact h5{!*font-size:16px;height:22px;line-height:22px;*!font-size:0.3962rem;height:0.407rem;line-height:0.407rem;}
.footer .footerAbout h5 span:nth-child(1){color:#62deed;}
.footer .footerAbout h5 span:nth-child(2){color:#67bcf2;}
.footer .footerAbout h5 span:nth-child(3){color:#6aa8f5;}
.footer .footerAbout h5 span:nth-child(4){color:#6d97f8;}
.footer .footerAbout h5 span:nth-child(5){color:#6d94f8;}
.footer .footerAbout p{!*font-size:14px;*!padding:0.407rem 0 0.722rem 0;font-size:0.2592rem;line-height:0.407rem;color:#8f8f8f;}
.footer .footerAbout .link{}
.footer .footerAbout .link li{float:left;!*width:0.5rem;height:0.3888rem;*!width:0.6rem;height:0.5888rem;margin-right:0.4814rem;transition:all 0.3s linear;}
.footer .footerAbout .link li img{!*width:100%;height:100%;*!}
.footer .footerAbout .link li a{width:100%;height:100%;display:block;}
.footer .footerAbout .link li:nth-child(1){background:url("../images/icon/weichat.svg") no-repeat top left;background-size:cover;}
.footer .footerAbout .link li:nth-child(2){background:url("../images/icon/sina.svg") no-repeat top left;background-size:cover;}
.footer .footerAbout .link li:nth-child(3){background:url("../images/icon/taobao.svg") no-repeat top left;background-size:cover;}
.footer .footerAbout .link li:nth-child(4){background:url("../images/icon/baidu.svg") no-repeat top left;background-size:cover;}
.footer .footerAbout .link li:nth-child(1):hover{transform:rotateY(360deg);background-image:url("../images/icon/weichat1.svg");}
.footer .footerAbout .link li:nth-child(2):hover{transform:rotateY(360deg);background-image:url("../images/icon/sina1.svg");}
.footer .footerAbout .link li:nth-child(3):hover{transform:rotateY(360deg);background-image:url("../images/icon/taobao1.svg");}
.footer .footerAbout .link li:nth-child(4):hover{transform:rotateY(360deg);background-image:url("../images/icon/baidu1.svg");}

.footer .footerContact{padding:0.648rem 0 1.14rem 0;text-align:left;}
.footer .footerContact h5{}
.footer .footerContact .line{width:0.7037rem;height:0.074rem;margin:0.222rem 0 0.0925rem 0;
    background:-webkit-linear-gradient(left,#60edea,#7273fd);
    background:-o-linear-gradient(left,#60edea,#7273fd);
    background:-moz-linear-gradient(left,#60edea,#7273fd);
    background:linear-gradient(left,#60edea,#7273fd);
}
.footer .footerContact ul{!*padding-top:25px;*!padding-top:0.4629rem;}
.footer .footerContact ul li{!*height:25px;line-height:25px;*!line-height:0.4629rem;padding-bottom:0.333rem;font-size:0.2592rem;}
.footer .footerContact ul li img{width:0.4074rem;height:0.4074rem;margin-right:0.1222rem;}
.footer .footerContact ul li:nth-child(2) span:first-child{color:#7be9ed;}
.footer .footerContact ul li:nth-child(2) span:nth-child(2){color:#63dced;}
.footer .footerContact ul li:nth-child(2) span:nth-child(3){color:#63d7ee;}
.footer .footerContact ul li:nth-child(2) span:nth-child(4){color:#64d1ef;}
.footer .footerContact ul li:nth-child(2) span:nth-child(5){color:#65ccf0;}
.footer .footerContact ul li:nth-child(2) span:nth-child(6){color:#66c7f0;}
.footer .footerContact ul li:nth-child(2) span:nth-child(7){color:#67bdf2;}
.footer .footerContact ul li:nth-child(2) span:nth-child(8){color:#68b5f3;}
.footer .footerContact ul li:nth-child(2) span:nth-child(9){color:#6aaef4;}
.footer .footerContact ul li:nth-child(2) span:nth-child(10){color:#6aa8f5;}
.footer .footerContact ul li:nth-child(2) span:nth-child(11){color:#6ba3f6;}
.footer .footerContact ul li:nth-child(2) span:nth-child(12){color:#6c9ef6;}
.footer .footerContact ul li:nth-child(2) span:nth-child(13){color:#6d97f8;}
.footer .footerContact ul li:nth-child(2) span:nth-child(14){color:#6e8ff9;}
.footer .footerContact ul li:nth-child(2) span:nth-child(15){color:#6f8afa;}
.footer .footerContact ul li:nth-child(2) span:nth-child(16){color:#7085fa;}
.footer .footerContact ul li:nth-child(2) span:nth-child(17){color:#717efb;}
.footer .footerContact ul li:nth-child(2) span:nth-child(18){color:#717efb;}
.footer .footerContact ul li:nth-child(3){color:#7be9ed;}
!*bottom*!
.bottom{text-align:center;color:#8f8f8f;background:#f9f9f9;}
.bottom .row .text{font-size:0.222rem;line-height:0.3888rem;margin-bottom:0.4629rem;}*/

/*media*/
@media screen and (max-width:1920px){
    /* .header .row .nav{font-size:14px;margin-left:1rem;}*/
}

@media screen and (max-width:1600px){
   /* .footer .footerNav li{padding:0 0.16rem;}*/
    .shiping .row .media{margin-left:3.644rem;}
}

@media screen and (max-width:1440px){
    /*.header .row .nav{margin-left:0;}
    .header .row .nav ul li a{padding: 0 0.1962rem;}*/
    .sidebar-right .content{right:15px;}
    .shiping .row .media{margin-left:3.644rem;}
    /*footer*/
   /* .footer .footerNav li{padding:0 0.2777rem;}*/
}

@media screen and (max-width:1200px){
    /*header*/
   /* .header{height:80px !important;}
    .header .row{height:80px !important;}
    .header .logo img{height:0.9148rem;padding:0 0 0 0.825rem;margin-top:0.1259rem;}
    .header .row .nav ul li a{padding: 0 0.1962rem;}
    .header .row .NewNav{margin-top:-0.5rem;}*/
    /*banner*/
    /*.banner{padding:0;}*/

    /*mobile-nav*/
    /*.mobile-nav{top:80px;}
    .mobile-nav .nav{width:75%;}
    .mobile-nav .nav .hasMenu{background-position:13.6rem 0;}
    .mobile-nav .nav .currentMenu{background-position:13.6rem 0;}*/
    /*案例*/
    /*.anli .content{width:88%;}*/
    .anli .content .row .li{height:4.074rem;}
    /*视频*/
    .shiping .row:nth-child(2){display:flex;flex-direction:column;}
    .shiping .row:nth-child(2) .text-wrap{order:2;}
    .shiping .row:nth-child(2) .pic{order:1;}


    .shiping .row .media{margin-left:0;}
    .shiping .row .txt li .icon{width:10.59%;}
    /*智能*/
    .zhineng ul li{margin-right:0;}
    /*设计师*/
    .shejishi .swiper-container2 .swiper-wrapper .swiper-slide .Btn{margin:0.174rem auto 0;}
    /*footer*/
    /*.footer .footerNav li{padding:0 0.2777rem;}*/
}

@media screen and (max-width:1024px){
    /*banner*/
    .banner{padding:0;width:100% !important;}

    /*视频*/
    .shiping .row .media{margin-left:0;}
    .shiping .row .media .bg{display:none;}
    .shiping .row .media .video{width:93.75%;margin:0 auto;left:0;right:0;top:0;}
    /*品牌*/
    .pinpai .picture ul{width:100%;}
}

@media screen and (max-width:992px){
    /*.header{height:50px !important;}
    .header .row{height:50px !important;}
    .header .logo img{height:0.9148rem;padding:0.1259rem 0 0 0.0525rem;margin-top:0;}
    .header .row .NewNav{margin-top:-0.5rem;}
    .mobile-nav{top:50px;}
    .mobile-nav .nav .hasMenu{background-position:7.9rem 0;}
    .mobile-nav .nav .currentMenu{background-position:7.9rem 0;}*/
    /*.banner{padding:0;}*/
    .banner .swiper-container{width:100%;}
    /*案例*/
    .anli .content .row .li{height:3.074rem;}
    /*视频*/
    .shiping .row .txt li .icon{width:12.59%;}
    /*智能*/
    .zhineng .inner ul .col-sm-4,.zhineng .inner ul .col-xs-4{padding:0;margin-right:0;}
    /*设计师*/
    .shejishi .swiper-container2 .swiper-wrapper .swiper-slide .Btn{margin:0.574rem auto 0;}
}

@media screen and (max-width:640px){
    /*.header .logo img{height:100%;padding:0 0 0 0.0525rem;margin-top:0;}
    .header .row .NewNav{margin-top:-0.7rem;}
    .mobile-nav .nav .hasMenu{background-position:7rem 0;}
    .mobile-nav .nav .currentMenu{background-position:7rem 0;}*/
    .shiping .row .media .video .player:before{display:none;}

    .shiping .row .txt .txt-ctr{left:0.3rem;}
}

@media screen and (max-width:480px){
    /*.header .logo img{height:1.0148rem;!*padding:0.1259rem 0 0 0.0525rem;*!!*padding:0 0 0 0.0525rem;*!}
    .mobile-nav{top:50px;}
    .mobile-nav .nav{width:80%;}
    .mobile-nav .nav .hasMenu{background-position:7rem 0;}
    .mobile-nav .nav .currentMenu{background-position:7rem 0;}*/
    /*视频*/
    .shiping .row .txt li .icon{width:19.59%;}
}



