/*css reset*/
*{margin:0;padding:0;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0;margin: 0;}
fieldset, img {border: 0;}
table {border-collapse: collapse;border-spacing: 0;}
ol, ul {list-style: none;}
address, caption, cite, code, dfn, em, strong, th, var {font-weight: normal;font-style: normal;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}
q:before, q:after {content: '';}
a{text-decoration:none;}
a:hover{text-decoration:none;}
body{font-family:"arial","Microsoft YaHei";}

/*clearfix*/
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{*zoom:1;}

/*title*/
.title{text-align:center;width:98%;margin:0 auto;}
.title h2{width:100%;/*height:42px;line-height:42px;font-size:32px;margin-top:38px;*/height:0.777rem;line-height:0.777rem;font-size:0.5925rem;margin-top:0.7037rem;}
.title .line1{/*width:81px;height:1px;background:#d4d4d4;margin:22px auto 0;*/width:1.5rem;height:0.018rem;background:#d4d4d4;margin:0.4074rem auto 0;}
.title .line2{/*width:51px;height:1px;background:#d4d4d4;margin:2px auto 0;*/width:0.944rem;height:0.018rem;background:#d4d4d4;margin:0.037rem auto 0;}
.title p{/*padding-top:19px;font-size:14px;line-height:22px;color:#7e7a7d;*/padding-top:0.3518rem;font-size:0.2592rem;line-height:0.4074rem;color:#7e7a7d;}





