/*css reset*/
*{margin:0;padding:0;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0;margin: 0;}
fieldset, img {border:0;font-size:0;}
table {border-collapse: collapse;border-spacing: 0;}
ol, ul {list-style: none;}
address, caption, cite, code, dfn, em, strong, th, var {font-weight: normal;font-style: normal;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}
q:before, q:after {content: '';}
a{text-decoration:none;}
a:hover{text-decoration:none;}
body{font-family:"arial","Microsoft YaHei";}
@font-face {
    font-family: 'FZLTHK';
    src: url('../fonts/FZLTHK.TTF');
}
@font-face {
    font-family: 'FZLTZHUNHK.TTF';
    src: url('../fonts/FZLTZHUNHK.TTF');
}
@font-face{
    font-family:'HelveticaNeueCE';
    src: url('../fonts/Helvetica Neue CE 55 Roman.ttf');
}
@font-face{
    font-family:'SourceHanSansCN';
    src: url('../fonts/SourceHanSansCN-Regular.otf');
}
@font-face{
    font-family:'FZY3JW';
    src: url('../fonts/FZY3JW.ttf');
}
@font-face{
    font-family:'FZLTCHJW';
    src: url('../fonts/FZLTCHJW.TTF');
}
@font-face{
    font-family:'FZLTZCHK';
    src: url('../fonts/FZLTZCHK.TTF');
}
/*clearfix*/
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{*zoom:1;}

/*header*/
.header{width:100%;height:90px;/*height:0.6rem;*/position:fixed;top:0;left:0;/*background:rgba(255,255,255,0.8);*/background:#fff;z-index:30;display:none;}
.header .header-inner{width:92.7083%;margin:0 auto;}
.header .logo{/*width:163px;height:44px;padding:23px 0 0 220px;*/width:9.1573%;height:0.8148rem;float:left;box-sizing:content-box;
    padding:0.4259rem 0 0 4.074rem;}
.header .logo img{width:100%;height:100%;}

/*header nav*/
.header .nav{font-size:14px;float:right;}
.header .nav>ul{/*padding-right:3.59259rem;*/padding-right:1.59259rem;height:100%;}
.header .nav>ul>li{float:left;font-size:14px;width:auto;height:88px;border-top:2px solid #fff;position:relative;/*margin-right:0.6111rem;*/margin-right:0.4111rem;}
.header .nav ul li a{/*line-height:90px;*//*padding:0 16px;*//*line-height:1.666rem;*/
    display:block;padding:0 0.2962rem;color:#7e7a7d;position:relative;text-decoration:none;height:88px;line-height:88px;border-top:2px solid #fff;}
.header .nav ul li a span{/*width:5px;height:5px;border-bottom:1px solid #7e7a7d;border-right:1px solid #7e7a7d;transform:rotateZ(45deg);display:block;float:right;*//*margin:-35px 0 0 3px;font-size:25px;*/
    position:absolute;top:50%;right:0;margin:-0.6481rem 0 0 0.055rem;font-size:0.4629rem;}
.header .nav ul li:hover,.header .nav ul li.active{border-top:2px solid #75f4ed;}

/*.header .nav ul li .subMenu{width:100%;position:absolute;top:88px;left:0;background:rgba(255,255,255,0.7);z-index:20;display:none;}
.header .nav ul li .subMenu li{border-top:none;height:45px;line-height:45px;width:100%;text-align:center;}
.header .nav ul li .subMenu li a{border-top:none;height:45px;line-height:45px;display:block;padding:0;}
.header .nav ul li .subMenu li a:hover{background:#60edea;color:#fff;}
.header .nav ul li:hover .subMenu{display:block;}*/

/*NewNav*/
.header .NewNav{display:none;float:right;}
.header .NewNav img{width:28px;height:28px;}

/*head*/
.head{width:100%;height:90px;position:fixed;top:0;left:0;background:#fff;z-index:30;text-align:center;padding:0;box-sizing:content-box;display:block;}
.head img{padding-top:23px;}

/*sidebar-left*/
.sidebar{width:3.125%;height:100%;position:fixed;z-index:30;top:0;background:transparent;}
.sidebar-left{left:0;}
.sidebar-left .title{/*margin-top:446px;font-size:16px;*//*color:#6aaef4;*//*margin-top:9rem;*//*transform:rotate(-90deg);*//*background:#e0dfdb;color:transparent;*/
    font-size:0.2962rem;font-weight:bold;background:#fff;overflow:hidden;}
.sidebar-left .title .cont{margin-top:445px;width:75px;transform:rotate(-90deg);position:relative;left:-25px;}
.sidebar-left .title span{float:left;cursor:pointer;}
.sidebar-left .title img{float:left;margin:3px 0 0 5px;}
.sidebar-left .body{box-sizing: border-box;}
.sidebar-left .body .search{width:88.981%;height:0.666rem;position:relative;}
.sidebar-left .body .search input{border:1px solid #e4eaec;width:100%;height:0.666rem;line-height:0.666rem;padding:0.0925rem 0.1851rem;border-radius:0.3592rem;transition:all 0.3s linear;box-sizing:border-box;}
.sidebar-left .body .search input:focus{box-shadow:0 0 3px 0 rgb(27,28,29) inset;}
.sidebar-left .body .search img{/*top:12px;right:12px;*/position:absolute;top:0.222rem;right:0.222rem;/*font-size:14px;*/font-size:0.259rem;cursor:pointer;}
.sidebar-left .body .search .close{width:0.666rem;height:0.666rem;position:absolute;top:0.05rem;right:-1.5rem;display:none;}
.sidebar-left .body .search .close img{width:0.666rem;height:0.666rem;top:auto;right:auto;}
.sidebar-left .body .sidebar-nav{margin:0.3888rem 0 0 0.0925rem;width:100%;}
.sidebar-left .body .sidebar-nav .li{/*height:41px;line-height:41px;*/width:100%;height:0.75925rem;line-height:0.75925rem;color:#323232;}
.sidebar-left .body .sidebar-nav .li a{/*font-size:16px;*/color:#323232;text-decoration:none;font-size:0.296rem;/*width:100%;display:block;*/}
.sidebar-left .body .sidebar-nav .li a:hover,.sidebar-left .body .sidebar-nav .active{color:#F39C12;}
.sidebar-left .body .sidebar-nav .hasMenu{/*background:url("../images/sidebar-jia.png") no-repeat 12.962rem 0;*/
    background:url("../images/sidebar-jia.png") no-repeat right top;
}
.sidebar-left .body .sidebar-nav .currentMenu{/*background:url("../images/sidebar-jian.png") no-repeat 12.962rem 0;*/
    background:url("../images/sidebar-jian.png") no-repeat right top;
}
.sidebar-left .body .sidebar-nav .navContent{padding-left:0.1851rem;display:none;}
.sidebar-left .body .sidebar-nav .navContent li{width:100%;height:0.75925rem;line-height:0.75925rem;color:#323232;}
.sidebar-left .body .sidebar-nav .navContent li a{color:#323232;text-decoration:none;/*font-size:14px;*/font-size:0.259rem;width:100%;display:block;}
.sidebar-left .body .sidebar-nav .navContent li a:hover{color:#F39C12;}
.sidebar-left .body .address{margin:0.3888rem 0 0 0.0925rem;}
.sidebar-left .body .address ul{}
.sidebar-left .body .address ul li{/*height:25px;line-height:25px;*/height:0.46296rem;line-height:0.46296rem;color:#323232;}
.sidebar-left .body .address ul li a{/*font-size:14px;*/height:0.46296rem;line-height:0.46296rem;font-size:0.259rem;color:#323232;}
.sidebar-left .body .address ul li:nth-child(3) a{border-bottom:1px solid #f39c12;text-decoration:none;}

/*sidebar-right*/
.sidebar-right{height:100%;text-align:center;background:#fff;position:fixed;top:0;right:0;z-index:10;}
.sidebar-right .content{height:2.722rem;background:transparent;position:absolute;top:409px;right:25px;}
.sidebar-right ul{display:inline-block;}
.sidebar-right ul li{width:6px;height:6px;border-radius:50%;margin-bottom:12px;cursor:pointer;position:relative;}
.sidebar-right ul li.prev{width:10px;height:10px;border-top:2px solid #62e4ec;border-left:2px solid #62e4ec;border-radius:0;transform:rotateZ(45deg);margin-left:-2px;}
.sidebar-right ul li.next{width:10px;height:10px;border-bottom:2px solid #6f88fa;border-right:2px solid #6f88fa;border-radius:0;transform:rotateZ(45deg);margin-left:-2px;}
.sidebar-right ul li:before{box-sizing:border-box;width:70px;height:60px;line-height:60px;font-size:12px;color:#fff;
    background:url("../images/banner-bg.png") no-repeat center;background-size:cover;position:absolute;top:-30px;left:-90px;opacity:0;transition:all 0.3s linear;}
.sidebar-right ul li:hover:before{/*display:block;*/opacity:1;}
.sidebar-right ul li:nth-child(2){background-color:#64d6ee;}
.sidebar-right ul li:nth-child(2):before{content:"案例展示";}
.sidebar-right ul li:nth-child(3){background-color:#65ccf0;}
.sidebar-right ul li:nth-child(3):before{content: "宣传视频";}
.sidebar-right ul li:nth-child(4){background-color:#67c0f1;}
.sidebar-right ul li:nth-child(4):before{content: "智能改变生活";width:100px;left:-120px;}
.sidebar-right ul li:nth-child(5){background-color:#68b6f3;}
.sidebar-right ul li:nth-child(5):before{content: "公司介绍";}
.sidebar-right ul li:nth-child(6){background-color:#6aacf4;}
.sidebar-right ul li:nth-child(6):before{content: "设计师";}
.sidebar-right ul li:nth-child(7){background-color:#6ca1f6;}
.sidebar-right ul li:nth-child(7):before{content: "合作品牌";}
.sidebar-right ul li:nth-child(8){background-color:#6d97f8;}
.sidebar-right ul li:nth-child(8):before{content: "行业资讯";}
.sidebar-right ul li:hover,.sidebar-right ul li.active{background:#000;}
.sidebar-right ul li.prev:hover{border-top:2px solid #000;border-left:2px solid #000;background:transparent;}
.sidebar-right ul li.next:hover{border-bottom:2px solid #000;border-right:2px solid #000;background:transparent;}

/*footerLink*/
.friendlyLink{padding-top:1.166rem;width:100%;background:#f9f9f9;text-align:center;}
.friendlyLink ul{display:inline-block;}
.friendlyLink ul li{line-height:20px;font-size:12px;color:#8d8d8d;float:left;}
.friendlyLink ul li a{color:#8d8d8d;text-decoration:none;padding:0 5px;}


/*footer*/
.footer{padding-top:0.666rem;width:100%;background:#f9f9f9;text-align:center;}
.footer .footer_inner{/*width:1200px;*/width:62.5%;margin:0 auto;}
.footer .footerNav{/*text-align:left;*//*display:inline-block;*/}
.footer .footerNav li{float:left;/*padding-right:134px;*/padding-right:2.48148rem;text-align:left;font-size:0.3703rem;}
.footer .footerNav .last_li{padding-right:0;}
.footer .footerNav li a{color:#393838;display:block;text-decoration:none;}
/*_:-ms-lang(x),.footer .footerNav li{width:13%;!*padding:0;*!}*/

.footer .footerAbout{padding:0.648rem 0 1.14rem 0;text-align:left;/*width:489px;*/width:40.75%;float:left;}
.footer .footerAbout h5,.footer .footerContact h5{/*font-size:16px;height:22px;line-height:22px;*/font-size:0.3962rem;height:0.407rem;line-height:0.407rem;}
.footer .footerAbout h5 span:nth-child(1){color:#62deed;}
.footer .footerAbout h5 span:nth-child(2){color:#67bcf2;}
.footer .footerAbout h5 span:nth-child(3){color:#6aa8f5;}
.footer .footerAbout h5 span:nth-child(4){color:#6d97f8;}
.footer .footerAbout h5 span:nth-child(5){color:#6d94f8;}
.footer .footerAbout p{/*font-size:14px;*/padding:0.407rem 0 0.722rem 0;font-size:0.2592rem;line-height:0.407rem;color:#8f8f8f;}
.footer .footerAbout .link{}
.footer .footerAbout .link li{/*width:0.5rem;height:0.3888rem;*/float:left;width:0.6rem;height:0.5888rem;margin-right:0.4814rem;transition:all 0.3s linear;}
.footer .footerAbout .link li img{/*width:100%;height:100%;*/}
.footer .footerAbout .link li a{width:100%;height:100%;display:block;}
.footer .footerAbout .link li:nth-child(1){background:url("../images/icon/weichat.svg") no-repeat top left;background-size:cover;}
.footer .footerAbout .link li:nth-child(2){background:url("../images/icon/sina.svg") no-repeat top left;background-size:cover;}
.footer .footerAbout .link li:nth-child(3){background:url("../images/icon/taobao.svg") no-repeat top left;background-size:cover;}
.footer .footerAbout .link li:nth-child(4){background:url("../images/icon/baidu.svg") no-repeat top left;background-size:cover;}
.footer .footerAbout .link li:nth-child(1):hover{transform:rotateY(360deg);background-image:url("../images/icon/weichat1.svg");}
.footer .footerAbout .link li:nth-child(2):hover{transform:rotateY(360deg);background-image:url("../images/icon/sina1.svg");}
.footer .footerAbout .link li:nth-child(3):hover{transform:rotateY(360deg);background-image:url("../images/icon/taobao1.svg");}
.footer .footerAbout .link li:nth-child(4):hover{transform:rotateY(360deg);background-image:url("../images/icon/baidu1.svg");}

.footer .footerContact{padding:0.648rem 0 1.14rem 0;text-align:left;/*width:522px;*/width:43.5%;float:right;}
.footer .footerContact h5{}
.footer .footerContact .line{width:0.7037rem;height:0.074rem;margin:0.222rem 0 0.0925rem 0;background:url("../images/footer_line_bg.png") no-repeat;background-size:cover;}
.footer .footerContact ul{/*padding-top:25px;*/padding-top:0.4629rem;}
.footer .footerContact ul li{/*height:25px;line-height:25px;*/line-height:0.4629rem;padding-bottom:0.333rem;/*font-size:14px;*/font-size:0.2592rem;}
.footer .footerContact ul li a{color:#8f8f8f;line-height:inherit;}
.footer .footerContact ul li img{width:0.4074rem;height:0.4074rem;padding:0.0222rem 0.1222rem 0 0;float:left;}
.footer .footerContact ul li:nth-child(2) span:first-child{color:#7be9ed;}
.footer .footerContact ul li:nth-child(2) span:nth-child(2){color:#63dced;}
.footer .footerContact ul li:nth-child(2) span:nth-child(3){color:#63d7ee;}
.footer .footerContact ul li:nth-child(2) span:nth-child(4){color:#64d1ef;}
.footer .footerContact ul li:nth-child(2) span:nth-child(5){color:#65ccf0;}
.footer .footerContact ul li:nth-child(2) span:nth-child(6){color:#66c7f0;}
.footer .footerContact ul li:nth-child(2) span:nth-child(7){color:#67bdf2;}
.footer .footerContact ul li:nth-child(2) span:nth-child(8){color:#68b5f3;}
.footer .footerContact ul li:nth-child(2) span:nth-child(9){color:#6aaef4;}
.footer .footerContact ul li:nth-child(2) span:nth-child(10){color:#6aa8f5;}
.footer .footerContact ul li:nth-child(2) span:nth-child(11){color:#6ba3f6;}
.footer .footerContact ul li:nth-child(2) span:nth-child(12){color:#6c9ef6;}
.footer .footerContact ul li:nth-child(2) span:nth-child(13){color:#6d97f8;}
.footer .footerContact ul li:nth-child(2) span:nth-child(14){color:#6e8ff9;}
.footer .footerContact ul li:nth-child(2) span:nth-child(15){color:#6f8afa;}
.footer .footerContact ul li:nth-child(2) span:nth-child(16){color:#7085fa;}
.footer .footerContact ul li:nth-child(2) span:nth-child(17){color:#717efb;}
.footer .footerContact ul li:nth-child(2) span:nth-child(18){color:#717efb;}
.footer .footerContact ul li:nth-child(3){color:#8f8f8f;}

/*bottom*/
.bottom{width:100%;text-align:center;color:#8f8f8f;background:#f9f9f9;}
.bottom .text{font-size:0.222rem;/*font-size:12px;*/line-height:0.3888rem;padding:0 0.2777rem 0.4629rem;}

/*media*/
@media screen and (min-width:1920px) and (max-width:2560px){

}
@media screen and (max-width:1920px){

}
@media screen and (max-width:1600px){
    /*header*/
    .header .logo{padding:0.4259rem 0 0 3.074rem;}
    .header .nav>ul{padding-right:1rem;}
    .header .nav>ul>li{margin-right:0.1111rem;}
    /*footer*/
   .footer .footerNav li{padding-right:1.88148rem;}
}
@media screen and (max-width:1440px){
    .header .nav>ul{padding-right:0.3rem;}
    .header .nav>ul>li{margin-right:0.1111rem;}
    /*footer*/
    .footer .footerNav li{padding-right:1.48148rem;}
}
@media screen and (max-width:1366px){
    .header .logo{padding:0.4259rem 0 0 2.574rem;}
    .header .nav>ul{padding-right:0;}
    /*footer*/
    .footer .footerNav li{padding-right:1.29148rem;}
}
@media screen and (max-width:1280px){
    .header .nav>ul>li{margin-right:0;}
    /*footer*/
    .footer .footerNav li{padding-right:1.09148rem;}
}
@media screen and (max-width:1200px){
    /*header*/
    .header{height:80px !important;}
    .header .nav>ul>li{height:78px;}
    .header .nav ul li a{height:78px;line-height:78px;}
    .header .nav ul li a span {margin: -0.5481rem 0 0 0.055rem;}
    .header .nav ul li .subMenu{top:78px;}
    /*head*/
    .head{height:80px !important;}
    .head img{padding-top:18px;}
    /*banner*/
    .banner{margin-top:80px !important;}
    /*sidebar right*/
    .sidebar-right{display:none;}
    /*friendlyLink*/
    .friendlyLink{display:none;}
    /*footer*/
    .footer .footerNav li{padding-right:0.96rem;}
}
@media screen and (max-width:1024px){
    /*header*/
    .header{height:80px !important;display:block;box-shadow:0 1px 1px rgba(0,0,0,0.5);}
    .header .logo{padding:0.4259rem 0 0 1.274rem;width:auto;}
    .header .nav{display:none;}
    .header .NewNav{display:block;margin:0.5rem 0.5rem 0 0;}
    .head{display:none;}
    /*banner*/
    .banner{padding:0;width:100% !important;}
    /*sidebar-left*/
    .sidebar-left .title{width:0 !important;}
    .sidebar-left .body .search .close{display:block;right:-2rem;}
    /*footer*/
    .footer .footerNav li{padding-right:0.46rem;}
}
@media screen and (max-width:992px){
    .header{height:50px !important;}
    .header .logo{padding:0 0 0 1.274rem;width:auto;height:100%;}
    .header .NewNav{margin:0.25rem 0.5rem 0 0;}

    /*banner*/
    .banner{margin-top:50px !important;}
}
@media screen and (max-width:800px){
    .header .logo{padding:0 0 0 1.074rem;}
    .sidebar-left .body .search .close{right:-1.55rem;}
    /*footer*/
    .footer .footer_inner{width:92.7083%;}
    .footer .footerNav{margin:0 auto;}
    .footer .footerNav li{padding-right:0;width:30%;text-align:center;}
    .footer .footerAbout,.footer .footerContact{width:100%;float:none;}
}
@media screen and (max-width:768px){

}
@media screen and (max-width:750px){
    .header .logo{padding:0;}
    .header .NewNav{margin:0.25rem 0 0 0;}
    .sidebar-left .body .search .close{right:-1.45rem;}
}
@media screen and (max-width:736px){

}
@media screen and (max-width:640px){
    /*header*/
    .header .logo img{height:100%;padding:0 0 0 0.0525rem;margin-top:0;}
    .header .row .NewNav{margin-top:-0.5rem;}
    .sidebar-left .body .search .close{right:-1.25rem;}
}
@media screen and (max-width:480px){
    /*header*/
    .header .logo img{height:50px !important;}
    .sidebar-left .body .search .close{right:-1rem;}
}
@media screen and (max-width:450px){

}
@media screen and (max-width:375px){
    .header .NewNav{margin:0.35rem 0 0 0;}
    .sidebar-left .body .search img{top:0.18rem;}
}
@media screen and (max-width:360px) {

}
@media screen and (max-width:320px) {
    .header .NewNav{margin:0.4rem 0 0 0;}
    .sidebar-left .body .search img{top:0.15rem;}
}


